# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.env
node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
VERSION

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
/api-worker/wrangler.toml
/api-worker/tsconfig.json

*.toml
/main-worker/wrangler.toml

main-worker/wrangler.toml
/dev-workder/wrangler.toml
dev-worker/wrangler.toml
