:root {
  --graph-height: calc(100vh - 300px);
}

.resizable {
  height: var(--graph-height);
  resize: vertical;
  overflow: hidden;
}

.resize-handle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  cursor: ns-resize;
  background: rgba(0, 0, 0, 0.1);
  z-index: 10;
}

#app {
  max-width: 1600px;
  margin: 0 auto;
  font-weight: normal;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(111, 82%, 33%, 0.2);
  }
}

@media (min-width: 1024px) {
  #app {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.top-menu {
  width: 100%;
}

#jsonOutput span.match {
  background-color: #ffff00;
  padding: 2px 4px;
  border-radius: 2px;
}
#jsonOutput span.match.focused {
  background-color: #ffa500;
  outline: 2px solid #ff0000;
  padding: 2px 4px;
  border-radius: 2px;
}
/* .graph-viewer .node-info img {
  max-width: 50%;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

.user-reg-heading {
  font-size: 1.5em;
  margin: 0;
  text-align: center;
}
